<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalStorage JavaScript</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo_better.png' %}">
</head>
<body>
    <header>
        <h1 class='head'>Тема JavaScript'a: LocalStorage</h1>
        <p class='head'>Джерело цієї інформації було надано компанії Mozilla Foundation</p>
    </header>
    <div class='content'>
        <h3 class='copied'>Скопійовано в буфер обміну</h3>
        <div class='dis'>
            <a class='dis-text' href="discussions">Дискусія</a>
        </div>
        
        <div class='block'>
            <h1 class='main-text'>Window.localStorage</h1>
            <p class='abstract'>
                Властивість <strong>localStorage</strong> (переклад з англ. "локальне сховище") дозволяє отримати доступ до об'єкта <strong>Storage</strong>. 
                <strong>localStorage</strong> аналогічно властивості <strong>sessionStorage</strong>.
                Різниця лише в тому, що властивість <strong>sessionStorage</strong> зберігає дані протягом сеансу (до закриття браузера), 
                на відміну від даних, що знаходяться у властивості <strong>localStorage</strong>, 
                які не мають обмежень за часом зберігання та можуть бути видалені лише за допомогою <strong>JavaScript</strong>. 
                Слід зазначити, що дані, збережені як у <strong>localStorage</strong>, і у <strong>sessionStorage</strong>, є специфічними для протоколу сторінки. 
                Ключі та значення завжди рядки (так само, як і об'єкти, цілі ключі автоматично будуть перетворені на рядки).
            </p>
            <h2>Синтаксис</h2>
            <div class='code'>myStorage = window.localStorage;</div>
            <h2>Значення</h2>
            <p class='abstract'>Об'єкт <strong>Storage</strong>, який використовується для доступу до локального сховища.</p>
            <h2>Винятки</h2>
            <div class='code'>SecurityError</div>
            <p class='abstract'>
                Запит до сховища порушує дозвіл політик, або джерело зберігання не є коректною комбінацією схема/хост/порт 
                (таке може статися, якщо джерелом для зберігання є <strong>file:</strong> або <strong>data:</strong> схеми, наприклад). 
                Як ще один приклад появи помилки користувач через конфігурацію браузера заборонив зберігання даних для деяких джерел.
            </p>
            <h2>Наприклад</h2>
            <p class='abstract'>
                Наступний код показує приклад доступу до локального об'єкта <strong>Storage</strong> для поточного домену і додає дані до нього за допомогою <strong>Storage.setItem()</strong>.
            </p>
            <div class='code'>localStorage.setItem('myLesson', 'Math');</div>
            <p class='abstract'>Зчитувати дані з <strong>localStorage</strong> для певного ключа можна так:</p>
            <div class='code'>let lesson = localStorage.getItem('myLesson');</div>
            <p class='abstract'>Видаляти дані можна так (після видалення поверне <strong>undefined</strong>):</p>
            <div class='code'>localStorage.removeItem('myLesson');</div>
            <p class='abstract'>Для видалення всіх записів, тобто повного очищення <strong>localStorage</strong>, використовуйте:</p>
            <div class='code' id='last-code'>localStorage.clear();</div>
        </div>
        <br>
        <br>
    </div>
    <footer>
        <p class='foot'>Електронна пошта для співпраці: <a class='emailto' href="mailto: dimasribnyj12@gmail.com">dimasribnyj12@gmail.com</a> (ви можете просто натиснути на електронну пошту)</p>     
        <p class='foot'>Джерело цієї інформації було надано компанії Mozilla Foundation</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>